{% extends 'base2.html' %} 
{% load static %}
{% block content %}
<script src="{% static 'js/registerForVaccination.js' %}"></script>


<form method="POST" style="margin:50px 100px;" name="register" id="register">
   {% csrf_token %}
        
   <div class="form-row">
    <div class="form-group col-md-12">
      <label for="name">Subject</label>
      <input type="text" class="form-control" id="name" name="subname" placeholder="Enter Subject" minlength="2" maxlength="255">
    </div>
</div>

        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Type of Resource </label>
              <input type="text" class="form-control" id="name" name="subname" placeholder="Enter Type" minlength="2" maxlength="255">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
              <label for="contactNumber">Attach Link </label>
              <input type="text" class="form-control" id="email" placeholder="Link" name="time">
            </div>
        </div>
        
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock %}