{% extends 'base2.html' %} 
{% load static %}
{% block content %}
<div class="card" style="width: 18rem; margin:20px;">
    <div class="card-body">
      <h5 class="card-title">New Announcement</h5>
      <p class="card-text">Use this to create a new Announcement</p>
      <a href="{% url 'createannoun' %}" class="btn btn-primary btn-dark">Create Announcement</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin:20px;">
    <div class="card-body">
      <h5 class="card-title">Previous Announcements</h5>
      <p class="card-text">View Information about Previous Announcements</p>
      <a href="#" class="btn btn-primary btn-dark">Previous Announcements</a>
    </div>
  </div>
{% endblock %}