{% extends 'base1.html' %} 
{% load static %}
{% block content %}
<div class="card" style="width: 18rem; margin:20px;">
    <div class="card-body">
      <h5 class="card-title">New Test</h5>
      <p class="card-text">Use this to create a new Test</p>
      <a href="{% url 'newtest' %}" class="btn btn-primary btn-dark">Create Test</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin:20px;">
    <div class="card-body">
      <h5 class="card-title">Previous Tests</h5>
      <p class="card-text">View Information about Previous Tests</p>
      <a href="#" class="btn btn-primary btn-dark">Previous Tests</a>
    </div>
  </div>
{% endblock %}